@import "./reset.css";

/* fonts */

@font-face {
  font-family: "Play";
  font-style: normal;
  src: url(./assets/fonts/Play/Play-Regular.ttf);
}

@font-face {
  font-family: "Bangers";
  font-style: normal;
  src: url(./assets/fonts/Bangers/Bangers-Regular.ttf);
}

/* variables */

:root {
  --bg: black;
  --slider-border: coral;
  --mem-text: coral;
  --radio-border: coral;
  --radio-checked: coral;
  --logo-regular: wheat;
  --logo-hover: coral;
}

/* structure styles */

body {
  max-width: 64rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 1rem;
  background: var(--bg);
  overflow-y: auto;
}

.main,
.footer {
  width: 100%;
  padding: 0 5%;
}

.container {
  max-width: 100%;
}

.main .container,
.footer_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_row {
  margin: 0 auto;
  max-width: 48rem;
  justify-content: space-between;
}

/* slider styles */

.mem_slider {
  max-width: 100%;
  overflow: hidden;
  border: 0.3rem solid var(--slider-border);
  border-radius: 0.625rem;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}

.mem_box {
  width: 500%;
  display: flex;
  margin-bottom: 1rem;
}

.slide {
  width: 20%;
  background: var(--bg);
}

img {
  width: 48rem;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

label {
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

span {
  width: 50%;
  height: 50%;
  border-radius: 100%;
  border: 0.19rem solid var(--radio-border);
  display: inline-block;
  opacity: 0.5;
}

label:hover > span {
  background: var(--radio-checked);
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.mem_row {
  display: flex;
  justify-content: space-between;
  width: 48rem;
  max-width: 100%;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.mem_titles div {
  font-family: "Play";
  font-size: 1.25em;
  font-weight: bold;
  color: var(--mem-text);
  display: none;
  opacity: 0;
  width: 26rem;
  cursor: pointer;
}

/* footer styles */

.footer-create-info {
  font-family: "Bangers";
  font-size: 1.2em;
  color: coral;
  text-align: center;
}

.logo {
  fill: var(--logo-regular);
  width: 4rem;
  height: 4rem;
  transition: 0.5s ease-in-out;
}

.logo:hover {
  transform: scale(1.3);
  fill: var(--logo-hover);
  transition: 0.5s ease-in-out;
}

/* controls styles */

input[type="radio"] {
  display: none;
}

#first:checked ~ .mem_box {
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}
#first:checked ~ .mem_row .first_title {
  display: block;
  animation: visib 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
#first:checked ~ .mem_row label[for="first"] span {
  background: var(--radio-checked);
  opacity: 1;
}

#second:checked ~ .mem_box {
  transform: translateX(-20%);
  transition: 0.5s ease-in-out;
}
#second:checked ~ .mem_row .second_title {
  display: block;
  animation: visib 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
#second:checked ~ .mem_row label[for="second"] span {
  background: var(--radio-checked);
  opacity: 1;
}

#third:checked ~ .mem_box {
  transform: translateX(-40%);
  transition: 0.5s ease-in-out;
}
#third:checked ~ .mem_row .third_title {
  display: block;
  animation: visib 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
#third:checked ~ .mem_row label[for="third"] span {
  background: var(--radio-checked);
  opacity: 1;
}

#fourth:checked ~ .mem_box {
  transform: translateX(-60%);
  transition: 0.5s ease-in-out;
}
#fourth:checked ~ .mem_row .fourth_title {
  display: block;
  animation: visib 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
#fourth:checked ~ .mem_row label[for="fourth"] span {
  background: var(--radio-checked);
  opacity: 1;
}

#fifth:checked ~ .mem_box {
  transform: translateX(-80%);
  transition: 0.5s ease-in-out;
}
#fifth:checked ~ .mem_row .fifth_title {
  display: block;
  animation: visib 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
#fifth:checked ~ .mem_row label[for="fifth"] span {
  background: var(--radio-checked);
  opacity: 1;
}

/* animations & effects styles */

@keyframes visib {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 925px) {
  img,
  .mem_row,
  .footer_row {
    max-width: 95%;
  }
  .mem_titles div {
    width: 23rem;
  }
}

@media screen and (max-width: 767px) {
  .mem_row {
    flex-direction: column;
  }
  .mem_titles {
    order: 2;
    align-self: flex-start;
  }
  .mem_controls {
    order: 1;
    padding-bottom: 1rem;
  }
  .mem_titles div {
    width: auto;
    font-size: 1.1em;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .main,
  .footer {
    padding: 0 2%;
  }

  .mem_slider {
    border: 0.2rem solid var(--slider-border);
    margin-bottom: 4rem;
  }

  .mem_titles div {
    width: auto;
    font-size: 0.8em;
  }

  label {
    width: 2rem;
    height: 2rem;
  }
  span {
    width: 80%;
    height: 80%;
  }

  .mem_controls {
    padding-bottom: 0.5rem;
  }

  .footer-create-info {
    font-size: 0.5em;
  }
}
